<p>マイページ</p>
<div>登録情報</div>
<div>編集する</div>

<div class="container">

    <h3>商品一覧</h3>
       <!--div class="row">
    <table class='table table-hover table-inverse'-->


            <thead>

                    <tr>
                        <th>氏名</th>
                        <th>カナ</th>
                        <th>郵便番号</th>
                        <th>住所</th>
                        <th>電話番号</th>
                        <th>メールアドレス</th>
                      
                    </tr>
             </thead>

              <tr>
                  <td> </td>
                 
                  <td> </td>

              </tr>
              
             

    </table>
        </div>
    </div>
</div>

<!--h3>配送先</h3>
<div>一覧を見る</div-->


<div>注文履歴</div>
<div>一覧を見る</div>
