public？
<div class="mx-auto" style="width: 400px">
<h6>ようこそ、ながのCAKEへ！</br>
このサイトは、ケーキ販売のECサイトになります。</br>
会員でない方も商品の閲覧はできますが、</br>
購入には会員登録が必要になります。</h6>


<h2>新着商品</h2>


<h6>いちごのサンドイッチbox</h6>
<h6>¥800</h6>

<h6>あんバターサンドセット</h6>
<h6>¥450</h6>

<h6>いちごたっぷりフルーツタルト</h6>
<h6>¥900</h6>

全ての商品を見る>