<div class="mx-auto" style="width: 1200px">
	<strong class="p-3 mb-2 bg-light text-dark">
		会員一覧
		</strong>
</div>
<div class="container">
	<div class="row">
		<table class='table table-hover table-inverse'>
			<thead>
				<tr>
					<th class="bg-light">会員ID</th>
					<th class="bg-light">氏名</th>
					<th class="bg-light">メールアドレス</th>
					<th class="bg-light">ステータス</th>
				</tr>
			</thead>
			<tbody class="col-md-6">
				<% @customers.each do |customer| %>
				<tr>
					<td><%= customer.id %></td>
					<td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
					<td><%= customer.email %></td>
					<% if customer.is_deleted == false %>
					<th class="text-success">有効</th>
				<% else %>
				<th class="text-secondary">退会</th>
				<% end %>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
<div class="mx-auto" style="width: 95px">
	<%= paginate @customers %>
</div>