<div class="mx-auto" style="width: 400px">
  <h3>商品詳細</h3>
   <div>
  <%= image_tag "image.png", alt: "Image", id: "assets", class: "image", width: "300px" %>
</div>
  <h5>商品名      いちごのショートケーキ（ホール）</h5>
  <h5>商品説明      栃木県産のとちおとめを贅沢に使用しています。</h5>
  <h5>税込価格(税抜価格)      2,750(2,500)円</h5>
  <h5>販売ステータス      販売中</h5>
  <div class="action">
    <%= link_to "編集する",  edit_admin_item_path(@item.id) ,class: "btn btn-success" %>
  </div>
</div>