<div class="mx-auto" style="width: 650px">
    <h1 style="text-align:center">About</h1>
    <h4>ながのCEKEは全国発送可能なケーキ屋さんです。</h4></br>
    <h4>お子様からお年寄りの方までお召し上がりいただけるよう、</h4></br>
    <h4>様々なバリエーションをご用意しております。</h4></br>
    <h4>全国への発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h4></br>
    <h4>ぜひご注文ください。</h4>