<div class="mx-auto" style="width: 600px">
<h6>ようこそ、ながのCAKEへ！</br>
このサイトは、ケーキ販売のECサイトになります。</br>
会員でない方も商品の閲覧はできますが、</br>
購入には会員登録が必要になります。</h6>

<h1>新着商品</h1>

画像
<div><% if @item.image.attached? %>
<%= image_tag @item.image, size: "100x100" %>
<% else %>
<%= image_tag 'no_image', size: "100x100" %>
<% end %>
</div>
<h6>いちごのサンドイッチ</h6>
<h6>¥650</h6>

<h6>あんバターサンド</h6>
<h6>¥300</h6>

<h6>いちごたっぷりフルーツタルト</h6>
<h6>¥980</h6>

<h6>メロンケーキ</h6>
<h6>¥500</h6>


<%= link_to "全ての商品を見る>", items_path %>